.app {
    text-align: center;
}

body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3f0b4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(8px + 1.5vmin);
}

.mui-appbar {
    background-color: #84cc6d;
    position: fixed;
    top: 0;
    width: 100%;
}

.mui-appbar ul {
    display: table!important;
    width: 100%;
}

.mui-appbar li {
    display: table-cell!important;
}

.mui-appbar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mui-appbar a:hover {
    background: #c3f0b4;
}

.home-links {
    list-style: none;
}

.home-links li {
    margin-top: 20px;
}

h1 {
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(26px + 2vmin)
}

th {
    text-align: center!important;
}

.table-data {
    text-align: left!important;
}

.material-symbols-outlined {
    padding-top: 4px;
}

.mui-btn.mui-btn--small.mui-btn--raised.mui-btn--primary {
    margin-right: 10px;
}