<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <!-- Citation for the following 5 lines -->
    <!-- Date: 07/18/2022 -->
    <!-- Copied from: -->
    <!-- Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
    <h1>The clubs Table</h1>
    <table class="mui-table mui-table--bordered">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the column name -->
        {% for key in gt_clubs[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for club in gt_clubs %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in club.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{club[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <!-- Insert a club into the db -->
    <form>
        <fieldset>
            <legend>Insert club</legend>
            <label>Brand: </label>
                <input type="text">
            <label>club Name: </label>
                <input type="text">
            <label>club Type: </label>
                <select>
                    <option>--Choose club Type--</optionlue=>
                    <option>Driver/1 Wood</option>
                    <option>3 Wood</option>
                    <option>5 Wood</option>
                    <option>7 Wood</option>
                    <option>3 Hybrid</option>
                    <option>4 Hybrid</option>
                    <option>5 Hybrid</option>
                    <option>6 Hybrid</option>
                    <option>7 Hybrid</option>
                    <option>1 Iron</option>
                    <option>2 Iron</option>
                    <option>3 Iron</option>
                    <option>4 Iron</option>
                    <option>5 Iron</option>
                    <option>6 Iron</option>
                    <option>7 Iron</option>
                    <option>8 Iron</option>
                    <option>9 Iron</option>
                    <option>Pitching Wedge</option>
                    <option>Gap Wedge</option>
                    <option>Sand Wedge</option>
                    <option>Lob Wedge</option>
                    <option>Putter</option>
                </select>
            <button>Submit club Insert</button>
        </fieldset>
    </form>
    <br>
    <!-- Delete a club from the db-->
    <form>
        <fieldset>
            <legend>Delete club</legend>
            <label>club Brand: </label>
                <select>
                    <option>--Choose club Brand--</optionlue=>
                    <option>Callaway</option>
                    <option>Custom</option>
                    <option>Mizuno</option>
                    <option>Ping</option>
                    <option>Taylormade</option>
                    <option>Titleist</option>
                </select>
            <label>club Name: </label>
                <select>
                    <option>--Choose club Name--</optionlue=>
                    <option>Bob Vokey</option>
                    <option>G425</option>
                    <option>Hockey</option>
                    <option>Jaws</option>
                    <option>JPX Hot Metal</option>
                    <option>PLD</option>
                    <option>Stealth</option>
                </select>
            <label>club Type: </label>
                <select>
                    <option>--Choose club Type--</optionlue=>
                    <option>Driver/1 Wood</option>
                    <option>3 Wood</option>
                    <option>7 Wood</option>
                    <option>4 Iron</option>
                    <option>5 Iron</option>
                    <option>6 Iron</option>
                    <option>7 Iron</option>
                    <option>8 Iron</option>
                    <option>9 Iron</option>
                    <option>Pitching Wedge</option>
                    <option>Gap Wedge</option>
                    <option>Sand Wedge</option>
                    <option>Lob Wedge</option>
                    <option>Putter</option>
                </select>
            <button>Submit club Delete/button>
        </fieldset>
    </form>
    <br>
    <p><a href="/">Go Back to Homepage</a></p>
</body>
</html>