<form action="/delete-player/" method="POST>
    <legend>Delete player Entry</legend>
    <p>Are you sure you want to delete this player from the database?</p>
    <p><input type="radio" name="yes_btn" value="yes">Yes</input></p>
    <p><input type="radio" name="no_btn" value="no">No</input></p>
    <p><input type="submit" value="Submit">Submit</input></p>
</form>