<!DOCTYPE html>
<html lang="en">
{#  
    Citation for the boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link href="./../static/css/insert-forms.css" rel="stylesheet" />
</head>
<body>
<div class="mui-appbar">
    <ul class="mui-list--inline">
        <li><a href="/clubs">View clubs</a></li>
        <li><a href="/courses">View courses</a></li>
        <li><a href="/holes">View holes</a></li>
        <li><a href="/player-clubs">View player_clubs</a></li>
        <li><a href="/players">View players</a></li>
        <li><a href="/rounds">View rounds</a></li>
        <li><a href="/swings">View swings</a></li>
    </ul>
</div>
<div class="app">
    <h1>Insert swing Entry</h1>
    {#  
        Citation for the form, input, select, and button styles
        Date: 07/27/2022
        Adapted from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js
    #}
    <form class="mui-form--inline" action="/insert-swing" method="post">
        <div class="mui-select">
            <select name="player_id" required>
                <option value=""></option>
                <option>Jane Deer</option>
                <option>John Doe</option>
                <option>Happy Gilmore</option>
                <option>Shooter McGavin</option>
            </select>
            <label>Player Name</label>
        </div>
        <div class="mui-select">
            <select name="round_id" required>
                <option value=""></option>
                <option value="round">Will show player's rounds</option>
            </select>
            <label>Round</label>
        </div>
        <div class="mui-select" required>
            <select name="hole_id">
                <option value=""></option>
                <option value="hole">Will show course's holes</option>
            </select>
            <label>Hole</label>
        </div>
        <div class="mui-select">
            <select name="club_id">
                <option value=""></option>
                <option value="club">Will show player's clubs</option>
            </select>
            <label>Club Used</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="dist_traveled_yd" pattern="[0-9]{1,}" required>
            <label>Swing Distance in Yards</label>
        </div>
        <br>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">insert swing</button>
    </form>
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>