<!DOCTYPE html>
<html lang="en">
{#  
    Citation for the boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link href="./../static/css/insert-forms.css" rel="stylesheet" />
</head>
<body>
{% include './nav_bar.j2' %}
<div class="app">
    <h2>Please test our application in Mozilla Firefox</h2>
    <h1>Insert hole Entry</h1>
    {#  
        Citation for the form, input, select, and button styles
        Date: 07/27/2022
        Adapted from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js
    #}
    <form class="mui-form--inline" action="/insert-hole" method="post">
        <div class="mui-select">
            <select name="course_id" required>
                <option value="">--Choose course--</option>
                {% for course in gt_courses %}
                <option value={{ course["course_id"] }}>{{ course["course_name"] }}</option>
                {% endfor %}
            </select>
            <label tabindex="-1">Course Name</label>
        </div>
        <div class="mui-select">
            <select name="hole_number" required>
                <option value="">--Choose hole number--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            <label tabindex="-1">Hole Number</label>
        </div>
        <div class="mui-select">
            <select name="par_swing_count" required>
                <option value="">--Choose par--</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label tabindex="-1">Par for the Hole</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input 
                type="text" 
                name="distance" 
                title="Please fill out this field. &#013;Allowed: 0-9, 3-digit max"
                pattern="^\d{1,3}$" 
                maxlength="3"
                required
            >
            <label tabindex="-1">Distance in Yards</label>
        </div>
        <br>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">insert hole</button>
    </form>
    <ul class="home-link">
        <li class="footer-link"><a href="/">Go Back to Homepage</a></li>
        <li class="footer-link"><a href="/holes">Go Back to holes Table</a></li>
    </ul>
</div>
</body>
</html>