<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
    <h1>CS 340 - Golf Tracker Web App</h1>
    <h3>By Conner Marchell and Alexander Lubrano</h3>
    <h4>Team HouBytes - Group 66</h4>
    <p>Check out our links for the app!</p>
    <ul>
        <li><a href="/players">See all players in the tracker</a></li>
        <li><a href="/player_rounds">See a single player's rounds</a></li>
        <li><a href="/player_round_swings">See a player's swings in a round</a></li>
        <li><a href="/player_clubs">See a single player's clubs</a></li>
        <li><a href="/player_club_swings">See a single player's swings by club</a></li>
        <li><a href="/clubs">See all clubs in the tracker</a></li>
        <li><a href="/courses">See all courses in the tracker</a></li>
        <li><a href="/course_holes">See a single course's holes</a></li>
    </ul>
</body>
</html>