<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <!-- Citation for the following 5 lines -->
    <!-- Date: 07/18/2022 -->
    <!-- Copied from: -->
    <!-- Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html -->    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
</head>
<body>
<div class="app">
    <h1>CS 340 - Golf Tracker Web App</h1>
    <h3>By Conner Marchell and Alexander Lubrano</h3>
    <h4>Team HouBytes - Group 66</h4>
    <p>Check out our links for the app! For now we have one link per entity in our schema.</p>
    <ul>
        <li><a href="/clubs">View clubs table</a></li>
        <li><a href="/holes">View holes table</a></li>
        <li><a href="/courses">View courses table</a></li>
        <li><a href="/player-clubs">View player_clubs intersection table</a></li>
        <li><a href="/players">View players table</a></li>
        <li><a href="/rounds">View rounds table</a></li>
        <li><a href="/swings">View swings table</a></li>
    </ul>
</div>
</body>
</html>