<div class="mui-appbar">
    <ul class="mui-list--inline">
        <li><a href="/">Home</a></li>
        <li><a href="/clubs">View clubs</a></li>
        <li><a href="/courses">View courses</a></li>
        <li><a href="/holes">View holes</a></li>
        <li><a href="/player-clubs">View player_clubs</a></li>
        <li><a href="/players">View players</a></li>
        <li><a href="/rounds">View rounds</a></li>
        <li><a href="/swings">View swings</a></li>
    </ul>
</div>