<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
    <h1>A Player's Rounds</h1>
    <table class="mui-table mui-table--bordered">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the column name -->
        {% for key in gt_player_rounds[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for round in gt_player_rounds %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in round.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{round[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <form>
        <fieldset>
            <legend> Insert swing</legend>
            <label>hole: </label>
                <select>
                    <option>Relavent holes</option>
                </select>
            <label>round: </label>
                <select>
                    <option>Relavent rounds</option>
                </select>
            <label>player: </label>
                <select>
                    <option>Relavent players</option>
                </select>
            <label>club: </label>
                <select>
                    <option>Relavent clubs</option>
                </select>
            <label>distance traveled (yd): </label>
                <input type="text">
            <button>Submit swing Insert</button>
        </fieldset>
    </form>
    <form>
        <fieldset>
            <legend> Update round</legend>
            <label>course: </label>
                <select>
                    <option>Relavent courses</option>
                </select>
            <label>player: </label>
                <select>
                    <option>Relavent player</option>
                </select>
            <label>player: </label>
                <select>
                    <option>Relavent players</option>
                </select>
            <label>round date: </label>
                <input type="text">
            <label>round score: </label>
                <input type="text">
            <button>Submit round Update</button>
        </fieldset>
    </form>
    <form>
        <fieldset>
            <legend> Delete round</legend>
            <label>round ID: </label>
                <input type="text">
            <button>Submit round Delete</button>
        </fieldset>
    </form>
</body>
</html>