<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <!-- Citation for the following 5 lines -->
    <!-- Date: 07/18/2022 -->
    <!-- Copied from: -->
    <!-- Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html -->    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
    <h1>The player_clubs Table</h1>
    <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            <!-- Get key names and insert as table header column names -->
            {% for key in gt_player_clubs[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    <tbody>
        <!-- Get and display all player_clubs data in the table rows -->
        {% for pl_club in gt_player_clubs %}
        <tr>
            {% for key in pl_club.keys() %}
            <td>{{ pl_club[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <!-- Insert a player_clubs relationship into the db -->
    <form>
        <fieldset>
            <legend>Insert player club</legend>
            <label>player:</label>
            <select>
                <option>--Choose player--</option>
                <!-- Get and place all players into dropdown options -->
                {% for player in gt_players %}
                {% for key in player.keys() %}
                <option>{{ player[key] }}</option>
                {% endfor %}
                {% endfor %}
            </select>
            <label>club:</label>
            <select>
                <option>--Choose club--</option>
                <!-- Iterate through all clubs in gt_clubs -->
                {% for club in gt_clubs %}
                <!-- Concatenate club brand, name, and type to display as dropdown options -->
                <option>{{ club["brand"] ~ " " ~ club["club_name"] ~ " " ~ club["club_type"] }}</option>
                {% endfor %}
            </select>
            <button>Submit player_club Insert</button>
        </fieldset>
    </form>
    <br>
    <p><a href="/">Go Back to Homepage</a></p>
</body>
</html>