<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
</head>
<body>
    <h1>A Player's Swings in a Round</h1>
    <table class="mui-table mui-table--bordered">
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the column name -->
        {% for key in gt_player_round_swings[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every person in bsg_people -->
    {% for swing in gt_player_round_swings %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in swing.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{swing[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</body>
</html>