<!DOCTYPE html>
<html lang="en">
{#  
    Citation for boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
</head>
<body>
{% include './nav_bar.j2' %}
<div class="app">
    <h1>The courses Table</h1>
    <h2>Please test our application in Mozilla Firefox</h2>
    {#  
        Citation for the table style
        Date: 07/18/2022
        Copied from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
    #}
    <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            {# Get key names and insert as table header column names #}
            {% if gt_courses[0]|length > 0 %}
            {% for key in gt_courses[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            {% else %}
            <p>This table is empty.</p>
            <p> Please use button below to insert data.</p>
            {% endif %}
        </tr>
    <tbody>
        {# Get and display all courses data in the table rows #}
        {% for course in gt_courses %}
        <tr>
            {% for key in course.keys() %}
            <td class="table-data">{{ course[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="10">
            <div>
                <a href="/insert-course">
                    {#  
                        Citation for the button style
                        Date: 07/27/2022
                        Adapted from: MUI CSS/JS
                        Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
                    #}
                    <button class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">+</button>
                </a>
            </div>
            </td>
        </tr>
    </table>
    {# <!-- Insert a course into the db -->
    <form>
        <fieldset>
            <legend>Insert course</legend>
            <label>course Name:</label>
                <input type="text">
            <label>course State:</label>
                <select>
                    <option value="">--Choose course State--</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            <button>Submit course Insert</button>
        </fieldset>
    </form>
    <br> #}
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>