<!DOCTYPE html>
<html lang="en">
{#  
    Citation for boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
{% include './nav_bar.j2' %}
<div class="app">
    <h1>The swings Table</h1>
    {#  
        Citation for the table style
        Date: 07/18/2022
        Copied from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
    #}
    <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            {# Get key names and insert as table header column names #}
            {% if gt_player_round_swings[0]|length > 0 %}
            {% for key in gt_player_round_swings[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th>Update / Delete</th>
            {% else %}
            <p>This table is empty.</p>
            <p> Please use button below to insert data.</p>
            {% endif %}
        </tr>
    <tbody>
        {#  
            Citation for the button styles
            Date: 07/27/2022
            Adapted from: MUI CSS/JS
            Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
        #}
        {# Get and display all swings data in the table rows #}
        {% for swing in gt_player_round_swings %}
        <tr>
            {% for key in swing.keys() %}
            <td class="table-data">{{ swing[key] }}</td>
            {% endfor %}
            <td>
                <a href="/update-swing/{{ swing["swing_id"] }}">
                    <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--primary">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                </a>
                <a href="/delete-swing/{{ swing["swing_id"] }}">
                    <button class="mui-btn mui-btn--small mui-btn--raised mui-btn--danger">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="15">
            <div>
                <a href="/insert-swing">
                    <button class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">+</button>
                </a>
            </div>
            </td>
        </tr>
    </table>
    {# <!-- Insert a swing into the db -->
    <form>
        <fieldset>
            <legend>Insert swing</legend>
            <label>hole:</label>
                <select>
                    <!-- Get holes from course listed in round instance -->
                    <option>Relevant holes</option>
                </select>
            <label>round:</label>
                <select>
                    <!-- Only show player's rounds -->
                    <option>Relevant rounds</option>
                </select>
            <label>player:</label>
                <select>
                    <option>Relevant players</option>
                </select>
            <label>club:</label>
                <select>
                    <!-- Only show player_clubs in dropdown -->
                    <option>Relevant clubs</option>
                </select>
            <label>Distance Traveled (yd):</label>
                <input type="text">
            <button>Submit swing Insert</button>
        </fieldset>
    </form>
    <br>
    <!-- Update a swing in the db -->
    <form>
        <fieldset>
            <legend>Update swing</legend>
            <label>hole:</label>
                <select>
                    <option>Relevant holes</option>
                </select>
            <label>round:</label>
                <select>
                    <option>Relevant rounds</option>
                </select>
            <label>player:</label>
                <select>
                    <option>Relevant players</option>
                </select>
            <label>club:</label>
                <select>
                    <option>Relevant clubs</option>
                </select>
            <button>Submit swing Update</button>
        </fieldset>
    </form>
    <br>
    <!-- Delete a swing from the db -->
    <form>
        <fieldset>
            <legend>Delete swing</legend>
            <label>swing:</label>
                <select>
                    <option>Relevant swings</option>
                </select>
            <button>Submit swing Delete</button>
        </fieldset>
    </form>
    <br> #}
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>