<!DOCTYPE html>
<html lang="en">
{#  
    Citation for the boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link href="./../static/css/update-forms.css" rel="stylesheet" />
</head>
<body>
{% include './nav_bar.j2' %}
<div class="app">
    <h1>Update swing Entry</h1>
    {#  
        Citation for the table style
        Date: 07/27/2022
        Copied from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
    #}
    <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            {# Get key names and insert as table header column names #}
            {% for key in gt_swing[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    <tbody>
        {# Get and display all players data in the table rows #}
        {% for swing in gt_swing %}
        <tr>
            {% for key in swing.keys() %}
            <td class="table-data">{{ swing[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {#  
        Citation for the form, input, select, and button styles
        Date: 07/27/2022
        Adapted from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js
    #}
    <form class="mui-form--inline" action="/update-swing/{{ gt_swing[0].swing_id }}" method="post">
<div class="mui-select">
            <select name="player_id" required>
                <option value="">--Choose player--</option>
                {% for player in gt_players %}
                <option value={{ player["player_id"] }}>{{ player["player_name"] }}</option>
                {% endfor %}
            </select>
            <label>Player Name</label>
        </div>
        <div class="mui-select">
            <select name="round_id" required>
                <option value="">--Choose round--</option>
                {% for round in gt_rounds %}
                <option value={{ round["round_id"] }}>{{ round["course_name"] ~ " " ~ round["round_date"]}}</option>
                {% endfor %}
            </select>
            <label>Round</label>
        </div>
        <div class="mui-select" required>
            <select name="hole_id">
                <option value="">--Choose hole--</option>
                {% for hole in gt_holes %}
                <option value={{ hole["hole_id"] }}>{{ hole["course_name"] ~ ", hole: " ~ hole["hole_id"]}}</option>
                {% endfor %}
            </select>
            <label>Hole</label>
        </div>
        <div class="mui-select">
            <select name="club_id">
                <option value="">--Choose club--</option>
                {% for club in gt_clubs %}
                <option value={{ club["club_id"] }}>{{ club["brand"] ~ " " ~ club["club_name"] ~ " " ~ club["club_type"]}}</option>
                {% endfor %}
            </select>
            <label>Club Used</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="dist_traveled_yd" pattern="[0-9]{1,}" required>
            <label>Swing Distance in Yards</label>
        </div>
        <br>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">update swing</button>
    </form>
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>