<!DOCTYPE html>
<html lang="en">
{#  
    Citation for the boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link href="./../static/css/update-forms.css" rel="stylesheet" />
</head>
<body>
<div class="mui-appbar">
    <ul class="mui-list--inline">
        <li><a href="/clubs">View clubs</a></li>
        <li><a href="/courses">View courses</a></li>
        <li><a href="/holes">View holes</a></li>
        <li><a href="/player-clubs">View player_clubs</a></li>
        <li><a href="/players">View players</a></li>
        <li><a href="/rounds">View rounds</a></li>
        <li><a href="/swings">View swings</a></li>
    </ul>
</div>
<div class="app">
    <h1>Update round Entry</h1>
    {#  
        Citation for the table style
        Date: 07/18/2022
        Copied from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js/buttons 
    #}
    <table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            {# Get key names and insert as table header column names #}
            {% for key in gt_round[0].keys() if key != "form_date" %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    <tbody>
        {# Get and display all players data in the table rows #}
        {% for round in gt_round %}
        <tr>
            {% for key in round.keys() if key != "form_date" %}
            <td class="table-data">{{ round[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {#  
        Citation for the form, input, select, and button styles
        Date: 07/27/2022
        Adapted from: MUI CSS/JS
        Source URL: https://www.muicss.com/docs/v1/css-js
    #}
    <form class="mui-form--inline" action="/update-round/{{ gt_round[0].round_id }}" method="post">
        <div class="mui-select">
            <select name="player_id" required>
                <option value="{{ gt_round[0]["player_id"] }}">{{ gt_round[0]["player_name"] }}</option>
                {% for player in gt_players if player["player_id"] != gt_round[0]["player_id"] %}
                <option value={{ player["player_id"] }}>{{ player["player_name"] }}</option>
                {% endfor %}
            </select>
            <label>Player Name</label>
        </div>
        <div class="mui-select">
            <select name="course_id" required>
                <option value="{{ gt_round[0]["course_id"] }}">{{ gt_round[0]["course_name"] }}</option>
                {% for course in gt_courses if course["course_id"] != gt_round[0]["course_id"] %}
                <option value={{ course["course_id"] }}>{{ course["course_name"] }}</option>
                {% endfor %}
            </select>
            <label>Course Name</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="datetime-local" name="round_date" value={{ gt_round[0]["form_date"] }} required>
            <label>Date and Time of Round</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="round_score" pattern="[0-9]{1,}" required value={{ gt_round[0]["round_score"] }}>
            <label>Round Score</label>
        </div>
        <br>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">update round</button>
    </form>
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>