<!DOCTYPE html>
<html lang="en">
{#  
    Citation for the boilerplate HTML
    Date: 07/18/2022
    Copied from: MUI CSS/JS
    Source URL: https://www.muicss.com/docs/v1/css-js/boilerplate-html 
#}
<head>
    <title>Golf Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link href="./../static/css/all-templates.css" rel="stylesheet" />
    <link href="./../static/css/update-forms.css" rel="stylesheet" />
</head>
<body>
<div class="mui-appbar">
    <ul class="mui-list--inline">
        <li><a href="/clubs">View clubs</a></li>
        <li><a href="/courses">View courses</a></li>
        <li><a href="/holes">View holes</a></li>
        <li><a href="/player-clubs">View player_clubs</a></li>
        <li><a href="/players">View players</a></li>
        <li><a href="/rounds">View rounds</a></li>
        <li><a href="/swings">View swings</a></li>
    </ul>
</div>
<div class="app">
    <h1>Under Construction</h1>
        <!-- Update a swing in the db -->
        <form>
            <fieldset>
                <legend>Update swing</legend>
                <label>hole:</label>
                    <select>
                        <option>Relevant holes</option>
                    </select>
                <label>round:</label>
                    <select>
                        <option>Relevant rounds</option>
                    </select>
                <label>player:</label>
                    <select>
                        <option>Relevant players</option>
                    </select>
                <label>club:</label>
                    <select>
                        <option>Relevant clubs</option>
                    </select>
                <button>Submit swing Update</button>
            </fieldset>
        </form>
    <div class="home-link"><a href="/">Go Back to Homepage</a></div>
</div>
</body>
</html>